 *{

}

/* How to apply a background color to the entire page, behind everythign else (replaces white space)
making sure diplay pic shows up on the deployed app, but move in response to a changing screen size (flex)

*/

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(2, 62, 138);
  background-position: center;
  top: 0;
  z-index: 99;
  background-attachment: fixed;
  position: -webkit-sticky;
  position: sticky;
  font-family: fantasy;
}
header nav ul li{
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
  
}
a {

}
header h1{
  color: rgb(120, 178, 222)
}
/*Biography start */
.Biography{
  float: left;
  width: 60%;
  font-family: sans-serif;
}

.display-pic{
  max-width: 40%;
  height: auto;
  position: relative;
  display: flex;
  top: -52px;
  right: 5px;
  bottom: 0px;
  left: 500px;
}
.Biography div{
  background-color: rgb(120, 178, 222) ;
}

.bio h2 {
  text-align: center;
}
.bio p {
  left: 5px;
}
/*Biography end*/

/*Contact start*/
.Connect{
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 30%;
    height: 100%;
    font-family: cursive;
}
.Connect-form{
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgb(202, 210, 197);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(150, 26, 73);
}
/*Contact end*/

/*Projects start*/
.Projects{
  clear: both;
  font-family: cursive;
}
.Projects h2{
  text-align: center;
  color: rgb(0, 119, 182);
}

.RunBuddy{
  margin-bottom: 20px;
  padding: 50px;
  height: 100px;
  background-color: rgb(247, 170, 111);
}
.RunBuddy h3 {
  color: rgb(35, 22, 81);
}

.JavaScript {
  margin-bottom: 20px;
  padding: 50px;
  height: 100px;
  background-color: rgb(247, 170, 111);
}

.HoriSEOn {
  margin-bottom: 20px;
  padding: 50px;
  height: 100px;
  background-color: rgb(247, 170, 111);
}
/*Projects end*/
